.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size:contain ;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation:fadeIn 4s; 
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;    
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;

}
.header-logo {
    position: absolute;
    bottom: 0.5%;
    right: 1%;
    width: 250px; /* Adjust size */
    height: auto;
    opacity: 0.9; /* Slight transparency */
    animation: bike-tilt 2s ease-in-out infinite; /* Apply the tilt animation */
}

@keyframes bike-tilt {
    0% {
        transform: rotate(0deg); /* Start in neutral position */
    }
    25% {
        transform: rotate(5deg); /* Tilt up slightly from the front */
    }
    50% {
        transform: rotate(0deg); /* Return to neutral */
    }
    75% {
        transform: rotate(-5deg); /* Tilt down slightly from the back */
    }
    100% {
        transform: rotate(0deg); /* Return to neutral */
    }
}
